body { height: 100%; width: 100%; margin: 0; padding: 0; padding-top: 51px; }
html { height: 100%; width: 100%; }

.content {
  position:absolute;
  top:60px;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}
#pdf-wrapper {
   left:0; right:0; bottom:0px; height: 100%;
}
h1 {margin: 3px}
.study-detail-text {
  font-size: 125%;
}
.study-detail-title {
  font-size: 145%;
  font-weight: bold;
}
